extends base

block vars
    - var title = "HOME"

block body
    h1 Avtaar Capstone Project

    ul 
        li #[a(href="/auth/register") Register]
        li #[a(href="/auth/login") Login]
    hr
    p.
        I want to thank you whole avtaar team for making such program and <br>
        supporting us by providing guidance when needed most, special thanks <br>
        to <strong>Minal</strong> and <strong>Ritu</strong> ma'am.
        <br>
        <br>
        Thank you for consideration.
