extends base

block vars
    - var title="Login" 

block body
    h1.heading-center Log in to your account 

    if error 
    
    div(class="input-form")
    
        p ERROR: #{error}

        form(method="post" action="/auth/login") 
            span Email:
            input(type="email", name="email", required=true)
            br

            span Password:
            input(type="password", name="password", required=true)
            br

            //input(type="hidden", name="_csrf", value=csrfToken)

            input(type="submit" value="Login")

        p
            a(href="/auth/register") new here? register